<h1>編集画面</h1>
<%= form_with model:@list, url:"/todo/#{@list.id}", local:true do |f| %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  <h4>本文</h4>
  <textarea name="body" cols="30" rows="10"></textarea>
  <%= f.submit '保存' %>
<% end %>

<%= link_to "戻る", "/todo/#{@list.id}" %>